<div class="text-center container mt-5">
  <div class="row">
    <div class="col-lg-5 mx-auto mb-5">

      <%= form_with model: @board, url:admin_boards_path, local: true do |f| %>
        <div class="form-group mb-5">
          <div class="mb-5">
            <%= image_tag 'otono.jpg', size: '250x150' %>
          </div>
          <%= f.text_area :body, class: 'form-control' %>
          <%= f.text_field :job, class: 'form-control' %>
          <%= f.text_field :age, class: 'form-control' %>
        </div>
        <%= f.submit '登録', class: 'btn btn-warning' %>
      <% end %>

      <div class="mt-5">
        <%= link_to 'ログアウト', admin_logout_path, method: :delete, class: 'btn btn-outline-secondary' %>
      </div>

    </div>
  </div>
</div>
