<div class="text-center container mt-5">
  <div class="row">
    <div class="col-lg-5 mx-auto mb-5">

      <%= form_with model: @board, url:admin_boards_path, local: true do |f| %>
        <div class="form-group mb-5">
          <div class="mb-5">
            <%= image_tag 'sample.jpg', size: '300x200', id: 'preview_img' %>
          </div>
          <%= f.file_field :image, class: 'form-control', accept: 'image/*' %>
        </div>
        <%= f.submit '登録', class: 'btn btn-warning' %>
      <% end %>

      <div class="mt-5">
        <%= link_to 'ログアウト', admin_logout_path, method: :delete, class: 'btn btn-outline-secondary' %>
      </div>

    </div>
  </div>
</div>
