<!-- Bootstrap core CSS -->
<link href=https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


<section class="text-center container">
  <div class="row ">
    <div class="col-lg-6 mx-auto">
      <%= image_tag 'otono.jpg', size: '150x100' %>
      <h1 class="fw-light">褒めて遣わす</h1>
      <p class="lead text-muted">褒める練習</p>
      <p>
        <a href="#" class="btn btn-primary my-2">お題リクエスト</a>
        <a href="#" class="btn btn-secondary my-2">ベストプラクティス</a>
      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <%= link_to image_tag("sample.jpg", class: 'card-img-top', size: '400x300'), "#" %>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <%= link_to image_tag("sample.jpg", class: 'card-img-top', size: '400x300'), "#" %>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <%= link_to image_tag("sample.jpg", class: 'card-img-top', size: '400x300'), "#" %>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <%= link_to image_tag("sample.jpg", class: 'card-img-top', size: '400x300'), "#" %>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <%= link_to image_tag("sample.jpg", class: 'card-img-top', size: '400x300'), "#" %>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <%= link_to image_tag("sample.jpg", class: 'card-img-top', size: '400x300'), "#" %>
        </div>
      </div>
    </div>
  </div>
</div>
