<div class="container">

  <hr class="featurette-divider">

  <div class="scroll">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">

        <!-- お題写真 -->
        <% @boards.each do |b| %>
          <div class="col">
            <div class="card shadow-sm">
              <% if logged_in? %>
                <%= link_to board_path(b), method: :delete do %>
                  <button type="button" class="btn-close" aria-label="Close"></button>
                <% end %>
              <% end %>
              <%= link_to board_path(b) do %>
                <p><%= b.body %></p>
                <p><%= b.job %><%= b.age %></p>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>

  <hr class="featurette-divider">

</div>

<%= render 'shared/footer' %>
