<div class="container">

  <hr class="featurette-divider">

  <div class="scroll">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">

        <!-- お題写真 -->
        <% @boards.each do |b| %>
          <div class="col">
            <div class="card shadow-sm">
              <% if logged_in? %>
                <%= link_to board_path(b), method: :delete do %>
                  <button type="button" class="btn-close" aria-label="Close"></button>
                <% end %>
              <% end %>
              <%= link_to board_path(b), class:"list" do %>
                <div class="col text-center text-white">
                  <div class="card shadow-sm bg-secondary">
                    <div class="h2 mt-5">
                      <p><%= b.body %></p>
                    </div>
                    <div class="lead mt-3">
                      <p><%= b.age %>代 <%= b.job %> </p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>

  <hr class="featurette-divider">

</div>

<%= render 'shared/footer' %>
