<div class="text-center container mt-5">
  <div class="row">
    <div class="col-lg-5 mx-auto">
      <%= form_with url: boards_path, local: true do |f| %>
        <div class="form-group mb-5">
          <div class="mb-5">
            <%= image_tag 'sample.jpg', size: '300x200', id: 'preview_img' %>
          </div>
          <%= f.file_field :image, class: 'form-control', accept: 'image/*' %>
          <%= f.hidden_field :image_cache %>
        </div>
        <%= f.submit '登録', class: 'btn btn-warning' %>
      <% end %>
    </div>
  </div>
</div>
