<div class="container">

  <hr class="featurette-divider">

  <div class="row">

    <div class="scroll col-md-7 order-md-2">
      <% @comments.each do |c| %>
        <% if logged_in? %>
          <%= link_to comment_path(c), method: :delete do %>
            <button type="button" class="btn-close" aria-label="Close"></button>
          <% end %>
        <% end %>
        <h3 class="text-muted ">
          <i class="far fa-user-circle"></i>
          <%= c.name %>
        </h3>
        <p class="lead"><%= c.body %></p>
        <hr class="featurette-divider">
      <% end %>
    </div>

    <div class="col-md-5 order-md-1">
      <p><%= @board.body %></p>
      <p><%= @board.job %><%= @board.age %></p>
    </div>
    
  </div>

  <hr class="featurette-divider">

</div>

<%= render 'shared/footer' %>